@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400;700&family=Dosis:wght@200;400;600&family=Happy+Monkey&family=League+Spartan:wght@500;700&family=Montserrat:ital,wght@0,200;0,400;0,700;1,400&family=Orbitron:wght@400;800&family=Outfit:wght@200;400;700&family=Parisienne&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,200;0,400;0,500;1,100;1,600&family=Style+Script&family=Stylish&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: "Anton", sans-serif;
    margin: 0;
    height: 100vh;
}

main {
    padding: 36px;
}

.header {
    display: flex;
    align-items: center;
    min-width: 600px;
    height: 80px;
    background: linear-gradient(90deg, #000814 0.5%, #001d3d 100%);
    color: white;
    padding: 20px 36px;
} 

.header--logo{
    height: 130%;
    margin-right: 0.3rem;
}

.header--title,
.header--container{
    font-weight: 500;
}
.header--title {
    font-size: 1.5rem;
    margin-right: auto;
}

.header--container {
    list-style-type: none;
    margin: 1rem;
    padding: .3rem;
}

.header--tab{
    display: inline;
    justify-content: space-around;
    position: relative;
    padding-right:1.2rem;
    font-size: 1rem;
}
   
a{
    text-decoration: none;
    color: #ffffff;
    border:2px solid #f5f3f4;  
    border-radius: .6rem;
    padding: .1rem .6rem;
}

a:hover{
    background: #ff9f1c;
    border:3px solid #f94144;  
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    margin-top: 1.5rem;
}

/* .form--label {
    margin-bottom: 10px;
    margin-left: 8px;
} */

.form--input,
.form--button
{
    font-size: 1rem;
}

.form--input {
    border-radius: 5px;
    border: 2px solid hsl(211, 100%, 12%);
    background-color: #f5f3f4;
    text-indent: .1rem;
    padding: .8rem 1.5rem;
    margin: .5rem;
}

.form--button {
    grid-column: 1 / -1;
    border: 2px solid #A818DA;
    border-radius: 5px;
    background: none;
    color: #711F8D;
    font-weight: 700;
    font-size: 1em;
    margin: 1rem 11rem;
    padding: 1rem 2.5rem;
    cursor: pointer;
    position: relative;
    transition: all 1.5s;
}

.form--button:hover {
    color: #fff;
    background:  linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
}

.form--button::before {
    opacity: 0.3;
}

.form--button::after {
    transition-delay: 0.3s;
}

.meme {
    position: relative;
}

.meme--image{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px auto;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

